<div id="<%= dom_id greeting %>">
  <p>
    <strong>名前:</strong>
		<% if greeting.greeting_user %>
			<%= greeting.greeting_user.name + "[user id : #{greeting.greeting_user.user_id}]" %>
		<% else %>
			<%= greeting.name + "[no account]" %>
		<% end %>
  </p>

  <p>
    <strong>メッセージ:</strong>
    <%= greeting.message %>
  </p>

</div>
